[Unit]
Description=Flask Application
After=network.target

[Service]
User=root
WorkingDirectory=/home/scraper
ExecStart=C:/Users/PC/AppData/Roaming/Python/Python312/Scripts/gunicorn.exe -w 4 -b 0.0.0.0:5000 main:app
Restart=always

[Install]
WantedBy=multi-user.target
